<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8620e/control/0/plot" value="false" />
    <add key="/lpc/it8620e/control/1/plot" value="false" />
    <add key="/lpc/it8620e/control/2/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/data/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/data/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-8" />
    <add key="mainForm.Location.Y" value="-8" />
    <add key="mainForm.Width" value="1936" />
    <add key="mainForm.Height" value="1035" />
    <add key="/lpc/it8620e/voltage/0/plot" value="false" />
    <add key="/lpc/it8620e/voltage/1/plot" value="false" />
    <add key="/lpc/it8620e/voltage/2/plot" value="false" />
    <add key="/lpc/it8620e/voltage/3/plot" value="false" />
    <add key="/lpc/it8620e/voltage/4/plot" value="false" />
    <add key="/lpc/it8620e/voltage/5/plot" value="false" />
    <add key="/lpc/it8620e/voltage/6/plot" value="false" />
    <add key="/lpc/it8620e/voltage/7/plot" value="false" />
    <add key="/lpc/it8620e/voltage/8/plot" value="false" />
    <add key="/lpc/it8620e/temperature/0/plot" value="false" />
    <add key="/lpc/it8620e/temperature/2/plot" value="false" />
    <add key="/lpc/it8620e/fan/0/plot" value="false" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEAJvudPJ1sfANDwaGA/8BppKA1QwAAAA=" />
    <add key="gadgetMenuItem" value="false" />
    <add key="plotForm.Height" value="400" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Location.Y" value="309" />
    <add key="plotForm.Location.X" value="660" />
    <add key="plotMenuItem" value="false" />
    <add key="hiddenMenuItem" value="false" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEANvKavq6WPiGBwPDgf8X83MZGaDgxT51dhgbAODGwSUkAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEANvKavq6WPiGBwPDgf8X83MZGaDgxT51dhgbAODGwSUkAAAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEANvKavq6WPiGBwPDgf/XJucyMgCBh/w9hz1+KUwgdkfzfQe1Q0lgtkf9cwfGrgQw+wTHCwcAwN1Z+zwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEANvKavq6WPiGBwPDgf/XJucyMgDBB6s81z1+KUwgdoFcnqvaoSQw+0NVritjVwKEnZ/rCgCGNNO4PAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEADujY/q6WPiGBwPDgf/7c3IZGYCgQaPPeY9fChOYzdPvrHYoCcLWmOLM2JUAYTdMcQYAW/PFWzwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEADujY/q6WPiGBwPDgf/7c3IZGcCgwfXxLHV2GBsAHlOHBCQAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEADujY/q6WPiGBwPDgf+7PHIZGaDgxT51dhgbADi9LrckAAAA" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAEvZbPa6WPiGBwPDgf8qvDmMDECw1eOtI19ZChOIzfRazOn+wSQwW/SdkBNXVwKY3aDV4QgAt+dicjwAAAA=" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAEvZbPa6WPiGBwPDgf93TUoZGUCgY4KjWEsKE5hdMMVxkloShM1QZfdJLgbCdpBxAABD+WorPAAAAA==" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAEvZbPa6WPiGBwPDgf/GHyoZGUCgYbe91uwUJgjb2sHvaSKEDQQfvyXA2QCr/VU6PAAAAA==" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAKtvSnhdLHzDg4HhwH8A2+r9bwwAAAA=" />
    <add key="/hdd/0/data/0/values" value="H4sIAAAAAAAEAOtbmfC6WPiGBwPDgf8AM0BoFQwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAOtbmfC6WPiGBwPDgf8AM0BoFQwAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAGN8tvt1sfANDwaGA/8BNSl65QwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAGN8tvt1sfANDwaGA/8BNSl65QwAAAA=" />
    <add key="/hdd/2/temperature/0/values" value="H4sIAAAAAAAEAJvudPJ1sfANDwaGA/8BppKA1QwAAAA=" />
    <add key="/hdd/2/data/0/values" value="H4sIAAAAAAAEAJvudPJ1sfANDwaGA/8BppKA1QwAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEANvKavq6WPiGBwPDgf8X83MZGYAg5LSty8GiFCYwm3uOC0dJEpi9zL7R5df6BDCbgaHdGQCA7rCIPAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEANvKavq6WPiGBwPDgf8X83MZGcDggMPBohQmCFvBQX12EpTNYM+wMQHOBgAUHG++PAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEANvKavq6WPiGBwPDgf8X83MZGcDggMPBohQmCNvBQX12EpQt4MCwMQHKbnAAAL2qb/U8AAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAEu5IP+6WPiGBwPDgf8/71YyMoCBnpPzi2QmCFvXae27RChb2umTAowt4wQAYlTNljwAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAEu5IP+6WPiGBwPDgf8/71YyMoCBgZPzi2QmCFvbae27RChb1umTAowt5wQA0qnk+jwAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAEu5IP+6WPiGBwPDgf8/71YyMoCBmZPzi2QmCNvEae27RChb0emTAoyt7AQA2TlHrTwAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEANv0Xf51sfANDwaGA/8XBDcxMgBBXtdxp9ulKUwg9rbO404dvklg9nYgm/1uApi9A8gGAEUy9M88AAAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEANv0Xf51sfANDwaGA/957aoZGYBgT3WC67EpKUwgdug+e1eDH4lgtl8yo+tZDQibiSvJFQAv+g3/PAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEANv0Xf51sfANDwaGA/9Fe2sZGYBgT3WC66qVKUwg9tkrJq4BnElgtl8yo2vT9wQwW3RmsisABqSjTTwAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEANv0Xf51sfANDwaGA/8nfKlnZACCPdUJru9vpjCB2GevmLhaPk8EsxfZ3XLJOJsAZovOTHYFAPvmksQ8AAAA" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAJshp/C6WPiGBwPDgf+7dJoYGYDgAleS6+3SFCYQ+1hMrGuHbxKYHcJ0xYX9bgKYLToz2RUA3CEF5TwAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAJshp/C6WPiGBwPDgf+7dJoYGYCAPa/T8XZpChOIbR/c6NjhmwRm7xIUdmS/mwBm333z2wEACtywgjwAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAJshp/C6WPiGBwPDgf+7dJoYGYBghZGK4+3SFCYQW/6rpGOHbxKYfWhyjgP73QQw2+SiuQMA3ELHTTwAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAJshp/C6WPiGBwPDgf+7dJoYGaAga4E6O4wNAEKpD/wkAAAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEADN0VXhdLHzDg4HhwH9FtiZGBiAoll7mcLs0hQnElglZ6WBWkgRm61fMcYjclgBmn6mZ5gAAryRL5TwAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEALvar/26WPiGBwPDgf95rPxMDEBw+fpDx42PksHss2qPHZe/SgSzv8587DhtKUS8SPmxIwCpviN6PAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEALvar/26WPiGBwPDgf95rPxMDEDAHiXguPFRMpitbCDouPxVIpi9t1LQcdpSiPg/XUFHAHvGXQA8AAAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEALvar/26WPiGBwPDgf95rPxMDEBwpna748ZHyWD2PqHtjstfJYLZH99uc5y2FCJ+QXi7IwDxbzZdPAAAAA==" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEALtzz+R1sfANDwaGA//LcnIZGcDA0ul2aQoThG3lZFaSBGdHbkuAsi2cAGm48/I8AAAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEANvKavq6WPiGBwPDgf9zXXMZGaAga4E6O4wNAFEcoCckAAAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEANvKavq6WPiGBwPDgf8X83MZGYAg5PRe54NFKUxgNreMC0dJEpi9zJ7R5df6BDCbgYHdGQBesHf7PAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEANvKavq6WPiGBwPDgf8X83MZGYCA8U23y8GiFCYQmynivQtHSRKYfY/rgsuv9QlgNiPDImcAE7QyljwAAAA=" />
    <add key="/lpc/it8620e/voltage/7/values" value="H4sIAAAAAAAEAFPPfvyqWPiGBwPDgf8Mnf5MDEBQOjnC4dxmdXYYGwAOwxCiJAAAAA==" />
    <add key="/lpc/it8620e/voltage/8/values" value="H4sIAAAAAAAEAFPPfvyqWPiGBwPDgf8Mnf5MDEBwsszO4dxmdXYYGwDVWNwoJAAAAA==" />
    <add key="/lpc/it8620e/temperature/0/values" value="H4sIAAAAAAAEADOf9PhVsfANDwaGA/8/JPozMYCBgtO5zersMDYArbkWKyQAAAA=" />
    <add key="/lpc/it8620e/temperature/1/values" value="" />
    <add key="/lpc/it8620e/temperature/2/values" value="H4sIAAAAAAAEADOf9PhVsfANDwaGA/8/JPozMYABv9Ocf4lQNq+TqXgSlP3P8e/cZCibwQkAVLLoVzwAAAA=" />
    <add key="/lpc/it8620e/fan/0/values" value="H4sIAAAAAAAEAHPb+fhVsfANDwaGA/8fWvkzMQDBl+4ylzn/EsFsN65SF1PxJDBbSi7X5e/cZDDbVyXNBQBFMjtyPAAAAA==" />
    <add key="/lpc/it8620e/fan/1/values" value="H4sIAAAAAAAEAHPb+fhVsfANDwaGA/8fWvkzMUDBuc3q7DA2AL74GDokAAAA" />
    <add key="/lpc/it8620e/fan/2/values" value="H4sIAAAAAAAEAHPb+fhVsfANDwaGA/8fWvkzMUDBuc3q7DA2AL74GDokAAAA" />
    <add key="/lpc/it8620e/fan/3/values" value="H4sIAAAAAAAEAHPb+fhVsfANDwaGA/8fWvkzMUDBuc3q7DA2AL74GDokAAAA" />
    <add key="/lpc/it8620e/fan/4/values" value="H4sIAAAAAAAEAHPb+fhVsfANDwaGA/8fWvkzMUDBuc3q7DA2AL74GDokAAAA" />
    <add key="/lpc/it8620e/control/0/values" value="" />
    <add key="/lpc/it8620e/control/1/values" value="" />
    <add key="/lpc/it8620e/control/2/values" value="" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEACv5Jva6WPiGBwPDgf8vtzcxMgCB4JtmxzkHkplAbI8VPY4hYklg9iwPFcdPColgNsOCDw4AztDEIzwAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEACv5Jva6WPiGBwPDgf8vtzcxMgBBzbI7jnMOJDOB2FOclziGiCWB2ZJtFo6fFBLBbIYHQo4An8nrIzwAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEACv5Jva6WPiGBwPDgf8vtzcxMgDBt38NjnMOJDOB2AwOcxxDxJLA7Dd7VB0/KSRCxZkdAbA23x08AAAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEACuWFX9dLHzDg4HhwP9XE5oYGYBg5YZbDnMOJDOB2AwNuY4hYklg9rxDnI6fFBIh4g5zHAA447gzPAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEACuWFX9dLHzDg4HhwP9XE5oYGYAgaG+Z45wDyUwgtvDuMscQsSQw+5SMpuMnhUQwm4HhlwMA6CMl9TwAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPu6Qv51sfANDwaGA/8zWKsYGcDA2Mn5RTIThG3ktPZdIpQt7/RJAcZWdAIAATkqjjwAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAEu5IP+6WPiGBwPDgf8/71YyMoCBgZPzi2QmCFvXae27RChb0umTAowt5wQAePuW3DwAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/it8620e/voltage/6/values" value="H4sIAAAAAAAEAFPPfvyqWPiGBwPDgf8Mnf5MDEBwsmyf/Zx/iWC22M199qbiSXDxv3OT4WwA0cdumzwAAAA=" />
    <add key="/lpc/it8620e/voltage/5/values" value="H4sIAAAAAAAEAFPPfvyqWPiGBwPDgf8Mnf5MDEBweuFT+zn/EsFs/btP7E3Fk8Ds9LRn9n/nJoPZkizP7AEh3PA1PAAAAA==" />
    <add key="/lpc/it8620e/voltage/4/values" value="H4sIAAAAAAAEANNwefyqWPiGBwPDgf//1/szMQDBstkuNuc2q7PD2ACM/MClJAAAAA==" />
    <add key="/lpc/it8620e/voltage/3/values" value="H4sIAAAAAAAEANNwefyqWPiGBwPDgf//1/szMQBBTD+Tw7nN6uwwNgCis6eIJAAAAA==" />
    <add key="/lpc/it8620e/voltage/2/values" value="H4sIAAAAAAAEANNwefyqWPiGBwPDgf//1/szMQCB2zZmhzn/EsFs+VZmB1PxJDA79zmzw9+5yWD2FAkWBwAY8r/kPAAAAA==" />
    <add key="/lpc/it8620e/voltage/1/values" value="H4sIAAAAAAAEANNwefyqWPiGBwPDgf//1/szMQBBpyODw5x/iWC2Zsx/e1PxJLj437nJcDYAUE1vfzwAAAA=" />
    <add key="/lpc/it8620e/voltage/0/values" value="H4sIAAAAAAAEANNwefyqWPiGBwPDgf//1/szMQBB8wEv+zn/EsHsqxWd9qbiSWD2HRU3+79zk8FsO65wewDHjf7lPAAAAA==" />
  </appSettings>
</configuration>